@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.scroll-down-indicator {
  position: fixed;
  bottom: 20px; 
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bounce 2s infinite;
  cursor: pointer;
}

.scroll-down-indicator::after {
  content: '\21E9';
  font-size: 24px; 
  color: #ffffff; 
}
